footer {
	border-top: 1px solid #d5d5d5;
	ul {
		list-style: none;
    	font-weight: bold;
    	margin: 0px;
    	padding: 25px 0px;

    	li {
    		display: inline;
    	}
	}
	a {
		font-weight: normal;
		font-size: 14px;
	}
	.container {
		padding: 0px;
	}
}