#nav_bar {
	clear: both;
	min-height: 75px;
	padding: 25px 0;
	background: #fff;
	border-bottom: 1px solid #ececed;
	box-shadow: 0 1px 3px 0 rgba(41,71,98,0.1);
	ul {
		list-style: none;
    	font-weight: bold;

    	li {
    		display: inline;
    		margin-right: 20px;
    	}
	}
	a {
		font-size: 14px;
		font-weight: normal;
	}
	#nav_logo {
		float: left;
	}
	#nav_bar_menu {
		float : right;
	}
}
